body {
    background-color: aqua;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h6 {
    text-align: center;
}

div a:link, a:visited, a:active {
    color: crimson;
    font-family: cursive;
    text-decoration: none;
}


